/*------------------------------------------------------------
	初期設定
------------------------------------------------------------*/
:root{
  --main-color: #33FF66;/*#33FF66*/
  --main-border: solid 5px var(--main-color);
  --main-border-botom: dotted 2px #dddddd;
}

.big{
  font-size: larger;
}

.small{
  font-size: 14px;
}

.red{
  color: #ff0000;
}

.green{
  color: #008000;
}

.blue{
  color: #0000ff;
}

.bold{
  font-weight: bold;
}

.main .emp p, .main .emp li{
  font-size: 20px;
}

.main .act ul{
  margin-left: -20px;
}




.main .scienceforest h2{
  margin-top: 0;
  margin-bottom: 10px;
  color: #666666;
  font-size: 23px;
}

.main .scienceforest h3{
  margin-top: 0;
  margin-bottom: 10px;
  color: #666666;
  font-size: 16px;
}

.main .scienceforest img{
  width: 100%;
  border: solid 1px #000000;
}

.main .scienceforest .teiko{
  display: block;
  width: 100%;
  margin: 50px auto;
  padding: 20px;
}

.main .scienceforest .tei{
  margin-top: 5px;
}

.main .scienceforest .teiko a{
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: #000000;
  background-color: #dddddd;
}

.main .scienceforest .teiko a:hover{
  background-color: #cccccc;
}

/*------------------------------------------------------------
	767px以下のレイアウト
------------------------------------------------------------*/
@media (max-width: 767px) {
  .main .scienceforest .teiko{
    padding: 5px;
  }
}
