/*------------------------------------------------------------
	初期設定
------------------------------------------------------------*/
:root{
  --main-color: #33FF66;/*#33FF66*/
  --main-border: solid 5px var(--main-color);
  --main-border-botom: dotted 2px #dddddd;
}

.big{
  font-size: larger;
}

.small{
  font-size: 14px;
}

.red{
  color: #ff0000;
}

.green{
  color: #008000;
}

.blue{
  color: #0000ff;
}

.bold{
  font-weight: bold;
}

.main .emp p, .main .emp li{
  font-size: 20px;
}

.main .purpose a{
  text-decoration: none;
  color: #000000;
}

.main .purpose a:hover{
  background-color: #eeeeee;
}

.main .act ul{
  margin-left: -20px;
}


/*------------------------------------------------------------
	767px以下のレイアウト
------------------------------------------------------------*/
@media (max-width: 767px) {

}
