@charset "UTF-8";
/*------------------------------------------------------------
	初期設定
------------------------------------------------------------*/
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'メイリオ','hiragino Kaku Gothic Pro',sans-serif;
}

:root{
  --main-color: #33FF66;/*#33FF66*/
  --main-border: solid 5px var(--main-color);
  --main-border-botom: dotted 2px #dddddd;
}

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
.header{
  padding: 8px 0;
}

.title{
  text-align: center;
}

.title h1{
  margin: 0;
  color: #000000;
  font-size: 3.5vw;
}

.title img{
  border: none;
  width: 300px;
}

/*------------------------------------------------------------
	ナビゲーションバー
------------------------------------------------------------*/
/*
.nav{
  background-color: var(--main-color);
  width: 100%;
}

.nav .nav-inner{
  width: 90%;
  margin: 0 auto;
}

.nav .menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav .menu li a{
  display: block;
  padding: 15px 10px;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.nav .menu li a:hover{
  background-color: #93FFAB;
}

.nav .menu  ul:after{
  content: "";
  display: block;
  clear: both;
}

.nav .menu li{
  float: left;
  width: auto;
}*/
.nav{
  width: 100%;
}

.nav .nav-inner{
  width: 90%;
  margin: 0 auto;
}

.nav #menu{
  display: none;
}

.nav #menubtn{
  padding: 6px 12px;
  border: solid 1px #aaaaaa;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  top: 70px;
  left: 5%;
  cursor: pointer;
}

.nav #menubtn:focus{
  outline: none;
}

.nav #menubtn img{
  height: 20px;
  vertical-align: middle;
}

.nav #menubtn span{
  display: inline-block;
  text-indent: -9999px;
}

.nav .menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
  border: solid 1px #000000;
}

.nav .menu li a{
  display: block;
  padding: 5px 10px;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.nav .menu li a:hover{
  background-color: #eeeeee;
}

.nav .menu li span{
  margin-left: 5px;
}

.nav .menu ul li img{
  vertical-align: middle;
  height: 20px;
}

/*------------------------------------------------------------
	メイン
------------------------------------------------------------*/
.main{
  width: 90%;
  margin: 0 auto;
  padding: 40px 0 30px;
}

.main .video{
  text-align: center;
}

.main video{
  width: 100%;
  max-width: 700px;
}

.main h2{
  margin-top: 0;
  margin-bottom: 10px;
  color: #666666;
  font-size: 18px;
}

.main ul{
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
}

.main time{
  margin-right: 10px;
  color: #888888;
  font-weight: bold;
}

.main .news{
  margin: 30px 0;
  padding: 20px;
  border: var(--main-border);
}

.main .news li{
  display: block;
  padding: 5px;
  border-bottom: var(--main-border-botom);
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.main .activity{
  margin-bottom: 30px;
  padding: 20px;
  border: var(--main-border);
}

.main .activity li a{
  display: block;
  padding: 5px;
  border-bottom: var(--main-border-botom);
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.main .activity li a:hover{
  background-color: #eeeeee;
}

.main .website{
  margin-bottom: 30px;
  padding: 20px;
  border: var(--main-border);
}

.main .website summary{
  cursor: pointer;
}

.main .website summary:focus{
  outline: none;
}


.main .website li{
  display: block;
  padding: 5px;
  border-bottom: var(--main-border-botom);
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.main .otoiawase{
  margin-bottom: 30px;
  padding: 20px;
  border: var(--main-border);
}

.main .otoiawase img{
  vertical-align: middle;
  height: 40px;
}

/*------------------------------------------------------------
	フッター(ページトップ、コピーライト)
------------------------------------------------------------*/
#pagetop {
  position: fixed;
  bottom: 50px;
  right: 40px;
}

#pagetop img {
  z-index: 1000;
  height: 100%;
}

#pagetop a {
  display: block;
  z-index: 999;
  padding: 8px 0 8px 0;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  background-color: #dddddd;
  text-align: center;
  opacity: 0.8;
}

#pagetop a:hover {
  text-decoration: none;
  opacity: 0.6;
  background-color: #bbbbbb;
}

.copyright{
  background-color: var(--main-color);
  padding: 10px 0;
}

.copyright small{
  margin: 0;
  color: #666666;
  font-size: 14px;
}

/*------------------------------------------------------------
	767px以下のレイアウト
------------------------------------------------------------*/
@media (max-width: 767px) {

  #pagetop {
    position: fixed;
    bottom: 40px;
    right: 20px;
  }

  /*#pagetop a{
    width: 40px;
    height: 40px;
  }*/

  .copyright{
    padding: 5px;
  }


}

/*------------------------------------------------------------
	768px以上のレイアウト
------------------------------------------------------------*/
@media (min-width: 768px){
  .title h1{
    font-size: 30px;
  }

  .main .activity{
    width: 60%;
    float: left;
    margin-right: 3%;
  }

  .main .website{
    width: 37%;
    float: left;
  }

  .subnews:after{
    content: "";
    display: block;
    clear: both;
  }

  .nav{
    background-color: var(--main-color);
  }

  .nav #menubtn{
    display: none;
  }

  .nav #menu{
    display: block !important;
  }

  .nav .menu ul{
    border: none;
  }

  .nav .menu li a{
    padding: 15px 10px;
  }

  .nav .menu li a:hover{
    background-color: #93FFAB;
  }

  .nav .menu ul:after{
    content: "";
    display: block;
    clear: both;
  }

  .nav .menu li{
    float: left;
    width: auto;
  }

}

/*------------------------------------------------------------
	1040px以上のレイアウト
------------------------------------------------------------*/
@media (min-width: 1100px){
  .main, .nav .nav-inner{
    width: 1000px;
    margin: 0 auto;
  }

  .nav-inner .menu{
    margin-left: 0;
  }

}
