@charset "UTF-8";
/*------------------------------------------------------------
	初期設定
------------------------------------------------------------*/
html, body, div, span, iframe, p, nav, small,
a, address, cite, code, em, font, img, dl, dt, dd, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
	outline: 0;
	font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

li {
  list-style: none;
}


/*------------------------------------------------------------
	ヘッダー(タイトル、メニュー)
------------------------------------------------------------*/
#header {
  width: 100%;
  background-color: #32CD32;
  color: #ffffff;
}

/*アイコン*/
#icon li {
  display: inline;
  float: right;
  padding: 7px;
}

/*タイトル*/
#title #sub-title {
  padding: 10px;
}

#title #title-english {
  letter-spacing: 7px;
}

#title #logo {
  padding: 0 15px 0;
  float: left;
}

/*メニュー*/
#menu {
  clear: both;
  padding: 20px;
}

#menu li {
  display: inline-flex;
  background-color: #ffffff;
  margin: 3.5px;
}

#menu li a {
  text-decoration: none;
  padding:  17px;
  text-align: center;
}

#menu li a div {
  text-align: center;
  color: #008000;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 2px;
}

#menu a:hover {
  color: white;
  background-color: #87CEEB;
}

/*------------------------------------------------------------
	メイン
------------------------------------------------------------*/
#main {
  width: 960px;
  margin: 0 auto;
}

#main h2 {
  background: linear-gradient(transparent 70%, limegreen 30%);
  width: 943px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: 20px;
}

/*概要*/
#main #summary p {
  padding: 10px 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 6px #56638F;
}

/*入部希望者*/
#main #hope p {
  padding: 10px 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 6px #56638F;
}

/*サングラスのPV*/
#main #sunglassPV #video {
  text-align: center;
}
#main #sunglassPV video {
  box-shadow: 0 1px 6px #56638F;
}

/*お知らせ*/
#main #oshirase section h4 {
  background-color: #ffffff;
  box-shadow: 0 1px 6px #56638F;
  padding: 30px 30px;
}

#main #oshirase section h4 a {
  padding: 0 30px;
}


/*活動記録*/
#main #katsudoukiroku section h4 {
  background-color: #ffffff;
  box-shadow: 0 1px 6px #56638F;
  padding: 30px 30px;
}

#main #katsudoukiroku section h4 a {
  padding: 0 30px;
}

/*面白い科学実験*/
#main #experiment details {
  background-color: #ffffff;
  box-shadow: 0 1px 6px #56638F;
  border-radius: 9px/9px;
  width: 650px;
  margin: 10px;
}

#main #experiment summary {
  padding: 10px;
  font-size: 1.2em;
}

#main #experiment a {
  text-decoration: none;
}

#main #experiment a:hover {
  text-decoration: underline;
  color: #008000;
}

#main #experiment article {
  background-color: #E0FFFF;
  padding: 5px 20px;
}

#main #experiment article p {
  white-space: pre-wrap;
}

/*面白い科学実験（内容）*/
#main .science .contents {
  text-align: center;
  text-decoration: underline orange wavy 2px;
  margin-top: 20px;
  margin-bottom: -20px;
  font-size: 30px;
}

#main .science section {
  padding: 10px 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 6px #56638F;
}

#main .science .material li {
  list-style: disc inside;
}

#main .science .make li {
  list-style: decimal inside;
}

#main .science .attention li {
  list-style: disc inside;
}

/*メンバー紹介*/
#member .sciencelist {
    background-color: #ffffff;
    box-shadow: 0 1px 6px #56638F;
    padding: 16px 8px;
    display: inline-flex;
    width: 461px;
    clear: both;
}

#member .sciencelist img {
  width: 180px;
  height: 180px;
  float: left;
}

#member .sciencelist ul {
  padding: 4px;
  padding-left: 8px;
}

#member .sciencelist ul li {
  font-size: 13.9px;
}



/*------------------------------------------------------------
	フッター(ページトップ、コピーライト)
------------------------------------------------------------*/
footer {
  margin-top: 80px;
}

#copyright {
  background-color: #32CD32;
  color: white;
  text-align: right;
  margin-bottom: 0;
}
